{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'app_blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app_blog/css/bootstrap-rtl.css' %}">
    <link rel="stylesheet" href="{% static 'app_blog/css/style.css' %}">

    <style>
        hr.new1 {
            border-top: 1px solid grey;
        }
        .blur_img {
           -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
           
           filter: blur(3px);
           
           }
        .centered_txt {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
          }
           
    </style>

</head>
<body>
    <header>
    <!-- navbar -->
       <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="http://rghaf.ir/">Rghaf.ir</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="http://rghaf.ir/">خانه <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://rghaf.ir/archive">آرشیو</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://rghaf.ir/resume">رزومه</a>
            </li>
          </ul>
        </div>
       </nav>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- footer -->
    <div class="container">
        <footer class="pt-3 my-md-5 pt-md-5 border-top">
           <div class="row">
             <div class="col-12 col-md text-center">
               <small class="d-block mb-3 text-muted">&copy; 2020-2021 by Rghaf</small>
               <small class="d-block mb-3 text-muted">an open source project!</small>
               <small class="d-block mb-3 text-muted">ver: 0.1</small>
             </div>
             <div class="col-6 col-md">
               <h5>ارتباط با من</h5>
               <ul class="list-unstyled text-small">
                 <li><a class="text-muted" href="#">Telegram</a></li>
                 <li><a class="text-muted" href="#">Instagram</a></li>
                 <li><a class="text-muted" href="#">Linkedin</a></li>
                 <li><a class="text-muted" href="#">Github</a></li>
               </ul>
             </div>
           </div>
        </footer>
    </div>
             
   <!-- my scripts -->
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>