{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

  
  {% block content %}
  <!-- main -->

 <!-- slider -->
 <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">  
     {% for slide in Slider|slice:":4" %}
       <div class="carousel-inner"> 
         <div class="carousel-item {% if forloop.first %} active {% endif %}" data-interval="2000">
           {% if slide.image %}
             {% thumbnail slide.image "1905x762" crop="center" as im %}
                 <a href="{{ slide.url }}">
                   <img src="{{ im.url }}" class="d-block w-100" alt="...">
                 </a>
             {% endthumbnail %}
           {% else %}
             <img class="responsive-img" src="{{ slide.img_404 }}" style="width: 512px">
           {% endif %}
               <div class="carousel-caption d-none d-md-block my-caption">
                 <h4>{{ slide.description }}</h4>
               </div>
         </div>
       </div > 
     {% endfor %}
 </div>

 <br>

<div class="container">
  <br>
  {% for post in Post|slice:":5" %}
    <div class="card">
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="text-center col-sm-12 col-md-4">
              {% if post.image %}
                {% thumbnail post.image "280x186" crop="center" as im %}
                 <img src="{{ im.url }}">
                {% endthumbnail %}
              {% else %}
                <img class="responsive-img" src="{{ post.img_404 }}" style="width: 280px">
              {% endif %}
            </div>
            <div class="col-sm-12 col-md-8">
              <h3 class="mt-0 mb-1"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
              <p>
                {{ post.summary }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if not  forloop.last %}
    <br>  
    {% endif %}
  {% endfor %}
</div>
  
  {% endblock content %}