{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

  
  {% block content %}
  <!-- main -->
<br>
<br>
<br>
<br>
<div class="container">
  <div class="card text-center">
    <h1>به بلاگ شخصی من خوش اومدید :))</h1>
    <br>
    <p>نسخه آزمایشی(ورژن 0.2)</p>
  </div>
  <br>
  {% for post in Post|slice:":5" %}
    <div class="card">
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="text-center col-sm-12 col-md-4">
              {% if post.image %}
                {% thumbnail post.image "280x186" crop="center" as im %}
                 <img src="{{ im.url }}">
                {% endthumbnail %}
              {% else %}
                <img class="responsive-img" src="{{ post.img_404 }}" style="width: 280px">
              {% endif %}
            </div>
            <div class="col-sm-12 col-md-8">
              <h3 class="mt-0 mb-1"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
              <p>
                {{ post.summary }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if not  forloop.last %}
    <br>  
    {% endif %}
  {% endfor %}
</div>
  
  {% endblock content %}