{% extends 'base.html' %}


{% block content %}
<br>
<div class="container">
  <div class="card">
      <div class="text-center card-body">
          <h1>سلام:) اینجا میتونید رزومه و نمونه کارهای منو ببینید</h1>
          <h5>شما میتونید از طریق اطلاعاتی که تو فایل رزومه هست با من تماس بگیرید</h5>
      </div>
  </div>
  <br>
  <div class="card">
    <div class="text-center card-body">
        <h4><a href="http://Rghaf.ir.ir/">Rghaf.ir</a></h4>
        <p>خب!همین سایتی که توش هستید یکی از نمونه کارای منه</p>
        <p>این سایت با Django و Bootstrap4 به طور انفرادی و فول استک نوشته شده</p>
        <p>این پروژه اوپن سورسه و میتونید کدش رو تو گیت هابم ببینید</p>
        <p>لینک گیت‌هاب توی فوتر هست:)</p>
        <hr>
        <h4><a href="http://herofit.ir/">herofit.ir</a></h4>
        <p>این یکی هم با وردپرس و به صورت انفرادی طراحی شده</p>
        <p>تم و تمام پلاگین‌های استفاده شده رایگان و از مخزن ورپرس بودن:)</p>
        <p>توی طراحی این سایت از المنتور استفاده کردم</p>
        <hr>
        <h4><a href="http://karmagame.ir/">karmagame.ir</a></h4>
        <p>یه سایت دیگه با وردپرس که فعلا فعالیتی نداره ولی میتونید نگاش کنید:)</p>
        <p>تو این سایت هم سعی کردم تا جایی که میشه از پلاگین‌های تجاری استفاده نکنم</p>
        <p>باز هم المنتور:)</p>
        <hr>
        <h4><a href="https://baziato.com/author/rghaf/">baziato.com</a></h4>
        <p>به عنوان نویسنده نزدیک به دوسال فعالیت توی بازیاتو داشتم</p>
        <p>میتونید از طریق کلیک روی عنوان به همه مقالات من دسترسی داشته باشید</p>
        <hr>
        <h4>سایر</h4>
        <p>جدا از چیزایی که ذکر کردم با تکنولوژی‌های زیرهم آشنایی دارم</p>
        <p>Python ,Reactjs, React Native, MaterializaCss, Html, CSS, Linux, Git</p>
    </div>
</div>
</div>
    
{% endblock content %}
    